body {
	margin:0px; padding:0px; 
	background:#FFFFE0;
	position:relative; 
}


#all {
	text-align:left;
}

.head {
	display:block;
	height120px;
	background:#FFFFE0;
	padding:0px;
}

#container {
	position:relative; 
	display:block; 
	background:#228B22;
}
#inner {
	display:block;
	position:relative;	 
	padding:1px;
}

#center {
	position:relative; 
	display:block;
	height:800px;
	padding:40px;
}
.clear {
	clear:both;
}


h2 {
    font-size:14px;
    font-weight:bold;
    text-align: center;
    margin-top:0;
}
.foot {
	display:block;
	height:30px;
	background:#9F89B6;
	padding:1px;
}

       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.row {
    margin-bottom:2px;
    width:200px;
}
    .row label {
        display:block;
        font-weight:bold;
    }
    .row input.text {
        font-size:1.0em;
        padding:1px 5px;
    }
.to_reg {
    font-size:0.9em;
}
.instruction {
    font-size:0.6em;
    color:#aaaaaa;
    margin-left:2px;
    cursor:default;
}
.error {
    color:red;
    margin-left:100px;
} 
#User1 {
    	 margin-left:1026px;
}

.c {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #000;
  outline: none;
  background: #000080;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}
.c:hover {
  background: #dcdcdc linear-gradient(#fff, #dcdcdc);
  box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}
.c:active {
  background: none;
    box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
}